body {
    margin: 0px;
}

#header {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    margin: 30px;
}

.gameboard {
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
    background-color: blanchedalmond;
    gap: 40px;
}

.rock, .paper, .scissors {
    
    padding: 60px 100px;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color:darkslategray;
    font-size: 60px;
    color:rgb(145, 47, 109);
    font-weight: bolder;
    background-color:rgba(0, 255, 255, 0.25);
    flex: 1 1 0;
    
}

.button:hover {
    background-color: black;
    transition-duration: 1s;
}

#scoreheader {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
}

#scoretable {
    display: flex;
    justify-content: space-around;
}

#scoretable > p {
    font-weight: bold;
}

#player, #computer {
    text-align: center;
}

#midtext {
    text-align: center;
}

#final {
    text-align: center;
    background-color: greenyellow;
    font-weight: bolder;
    font-size: large;
}

#ask {
    text-align: center;
    font-weight: bolder;
}

#answers {
    display: flex;
    justify-content: center;
    gap: 60px;
}